.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-color);

    &__dark {
        color: var(--main-text-color);
    }

    &__light {
        color: var(--white-color);
    }

}

.header__logo {
    margin-right: 93px;
}