:root {
	--main-text-color: #212121;
	--blue-color: #2196f3;
	--white-color: #ffffff;
	--grey-color: #757575;
	--footer-hero-color: #2f303a;
	--second-backgraund-color: #f5f4fa;
	--wtile-second-color: rgba(255, 255, 255, 0.6);
	--header: #ececec;
	--color-border-card: #eeeeee;
	--color-icon: #afb1b8;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}