.header {
	border-bottom: 1px solid var(--header);

	@media screen and (max-width:767px) {
		height: 60px;
	}

	position: relative;
}

.header__container {
	display: flex;
	align-items: center;

	@media screen and (max-width:767px) {
		height: 60px;
	}

}

.button__menu {
	display: inline-flex;
	// align-items: center;
	// justify-content: center;

	width: 40px;
	height: 40px;
	padding: 0;

	margin-left: auto;
	background-color: var(--white-color);
	cursor: pointer;
	border: none;



}

.menu__icon {
	width: 40px;
	height: 40px;
}

.button__menu .icon-cross {
	display: none;
}

.button__menu.is-open .icon-cross {
	display: block;

}

.button__menu.is-open .icon-menu {
	display: none;

}

.menu__container {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: aqua;
	width: 100%;

}

.contacts {
	display: none;

	@media screen and (min-width:768px) {
		display: flex;
		gap: 50px;
		align-items: center;
		margin-left: auto;
	}
}

.contacts__link {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--grey-color);
	color: var(--grey-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	padding-top: 32px;
	padding-bottom: 32px;
	position: relative;
	transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);

	&:hover,
	&:focus {
		fill: var(--blue-color);
		color: var(--blue-color);
	}
}

.contacts__icon {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}