.hero {
    background-color: var(--footer-hero-color);
    height: 600px;
    max-width: 1600px;
    margin: auto;
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        color: var(--white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 696px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}