.details {

@media screen and(min-width:768px) {
	display: flex;
	flex-wrap: wrap;
     gap: 30px;
}	
}

.details__item {
	width: 100%;

	margin-bottom: 30px;

    &:last-child{
	margin-bottom: 0px;};
	
	
	@media screen and (min-width:768px) {
	width:354px;
	margin-bottom: 0;
		
	};

	@media screen and (min-width:1199px) {
		width:270px;
			
		}
	}
.details__box {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--second-backgraund-color);
	margin-bottom: 30px;
	height: 120px;
	border-radius: 4px;
}

.details__icon {
	width: 70px;
	height: 70px;
}

.details__title {
	//color: var(--main-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-bottom: 10px;

	text-align: center;

	@media screen and (min-width:768px) {
		text-align: start;
		};

}

.details__text {
	color: var(--grey-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	//margin-bottom: 0;
}
